.table-category{
    overflow-y: scroll;
    max-height: 200px;
 
    margin-bottom: 25px;
}
.table-category table tbody tr td {
    padding-left: 15px;
}
.table-category table thead tr th {
    padding-left: 15px;
}


.card-home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  
}
.card-home > div{
    margin: 15px;
   
}